@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* 
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
*/

/* VARIABLES o CUSTOM PROPERTIES */

:root {
  /* --fondo-ejemplo: red; */

  /* FONTS */
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */

  --primary-dark-blue-into: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);
  
  --accent-cyan-gradient: hsl(176, 68%, 64%);
  --accent-blue-gradient: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-into);

  color: var(--neutral-white);
  /* background-color: var(--fondo-ejemplo); */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* UTILS */

.wrapper {

  /* 1rem = tamaño de la letra principal (14px) */
  /* 1em = tamaño de la letra su contenedor más próximo (14px) */

  width: min(100% - 3rem, 1440px);
}

.hidden {
  display: none;
}

/* HEADER */

.header {
  /* border: 1px solid red; */

  font-family: var(--font-primary);

  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  margin-top: 4rem; /* 4rem = 4 * 14px = 56px */
}

.header__nav {
  display: flex;
  gap: 2rem; /* 2rem = 2 * 14px = 28px */
  align-items: center;
}

/* HERO */

.hero {
  /* border: 1px solid red; */

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  background: url(../images/bg-curvy-desktop.svg) no-repeat bottom;
  background-size: contain;
  padding-top: 3rem;
  padding-bottom: 12rem;
}

.hero__title {
  width: min(100% - 3rem, 720px);

  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
}

.hero__text {
  width: min(100% - 3rem, 720px);

  font-family: var(--font-secondary);
  padding: 0 7rem;
  line-height: 1.5;
}

.hero__button {
  /* border: 1px solid red; */
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  border: 0;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--accent-cyan-gradient) 0%,
    var(--accent-blue-gradient) 100%
  );
  cursor: pointer;
}

.hero__button:hover {
  background: var(--accent-blue-gradient);
}

/* FEATURES */

.features {
  display: grid;
  grid-template-columns: 340px;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-dark-blue-main);
}

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__title {
  font-family: var(--font-primary);
}

.feature__text {
  font-family: var(--font-secondary);
}

/*
576px -> pantallas pequeñas (celulares)
768px -> pantallas pequeñas (tablets y celulares)
992px -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

/*
  MEDIA QUERIES: Las siguientes reglas se aplican solo para dispositivos mayores a 768px (Desktop, TVs, etc)
*/

@media screen and (min-width: 768px) {
  .features {
    grid-template-columns: 340px 340px;
  }
}

/* COLLABORATION */

.collaboration {
  /* border: 1px solid red; */
  background-color: var(--primary-dark-blue-main);

  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;

  padding: 0 3rem;
  padding-top: 8rem; /* 8 * 14px = 112px */
}

@media (min-width: 768px) {
  .collaboration {
    flex-direction: row;
  }
}

.collaboration__wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .collaboration__wrap {
    width: 33rem;
  }
}

.collaboration__title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
}

.collaboration__text {
  font-family: var(--font-secondary);
}

.collaboration__button {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  font-family: var(--font-secondary);
  color: var(--accent-cyan-gradient);
  border-bottom: 1px solid var(--accent-cyan-gradient);
  margin-right: auto;
  padding-bottom: 0.5rem;
}

/* TESTIMONIALS */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;

  padding: 0 3rem;
  padding-top: 8rem;
  padding-bottom: 15rem;

  background-color: var(--primary-dark-blue-main);
}

@media (min-width: 768px) {
  .testimonials {
    flex-direction: row;
  }
}

.testimonial {
  background-color: var(--primary-dark-blue-testimonials);

  /* padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; */
  /* padding: 2rem 1.5rem 1.5rem; top LyR bottom */

  padding: 2rem 1.5rem 1.5rem 1.5rem;

  font-family: var(--font-secondary);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial p {
  width: 21rem;
}

.testimonial img {
  border-radius: 50%;
}

.testimonial_profile {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.testimonial_profile h5 {
  font-weight: var(--font-weight-regular);
}

/* ACCESS */

.access {
  font-family: var(--font-primary);
  width: min(100% - 3rem, 53rem);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-dark-blue-testimonials);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.6);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.access h2 {
  font-size: 2rem;
}

.access input[type=text] {
  background-color: var(--neutral-white);
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  min-width: 100%;
}

@media (min-width: 768px) {
  .access form {
    width: 100%;
  }
  .access input[type=text] {
    min-width: 30rem;
  }
}

.access input[type=submit] {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  min-width: 220px;
  color: var(--neutral-white);
  background:
    linear-gradient(
      90deg,
      var(--accent-cyan-gradient) 0%,
      var(--accent-blue-gradient) 35%
    )
  ;
}

.access form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .access form {
    flex-direction: row;
  }
}

/* FOOTER */

.footer {
  position: relative;
  font-family: var(--font-secondary);
  background-color: var(--primary-dark-blue-footer);
  padding: 15rem 0 5rem 0;
}

.footer--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
  width: min(100% - 3rem, 76rem);
}

.footer_info {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 1fr;
  gap: 5rem;
}

@media (min-width: 768px) {
  .footer_info {
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr;
  }
}

.footer_info__description {
  width: 22rem;

  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer_info__contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_info__contact span {
  display: flex;
  gap: 1.5rem;
}

.footer_info__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_info__social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer_info__social a {
  border: 1px solid var(--neutral-white);
  border-radius: 50%;
  padding: 3px;
  width: 32px;
  height: 32px;
}
.footer_info__social a:hover,
.footer_info__social a:hover path {
  border: 1px solid var(--accent-cyan-gradient);
  fill: var(--accent-cyan-gradient);
  background-color: var(--accent-cyan-gradient);
}