@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Fraunces', serif;
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

main {
  /* background-color: red; */

  width: 650px;
  min-height: 400px;

  display: flex;
}

.photo {
  /* background-color: blue; */

  width: 350px;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 14px 0 0 14px;
}

.content {
  background-color: hsl(0, 0%, 100%);

  width: 300px;
  padding: 28px;

  border-radius: 0 14px 14px 0;
}

.content h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 7px;
  color: hsl(228, 12%, 48%);
}

.content h1 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
}

.content p {
  font-weight: 500;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
}

.content div {
  display: flex;
  align-items: center;
  gap: 14px
}

.content span {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.content s {
  color: hsl(228, 12%, 48%);
}