@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Fraunces', serif;
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

main {
  /* background-color: red; */

  width: 650px;
  min-height: 400px;

  display: flex;
}

.photo {
  /* background-color: blue; */

  width: 350px;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 14px 0 0 14px;
}

.content {
  background-color: hsl(0, 0%, 100%);

  width: 300px;
  padding: 28px;

  border-radius: 0 14px 14px 0;
}